body{
    width: 100vw;
    height: 100vh;
}

.credits{
    padding: 4px 2px;
    font-size: 9.2px;
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(-180deg);
    height: max-content;
    color: var(--lightgray);
    background-color: var(--orange);
    right: 1.2px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    user-select: contain;
    cursor: none;
    opacity: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: opacity 1.2s linear;
}

.credits:hover{
    opacity: 0.8;
    transition: opacity 2s linear;
  }